<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Сбер компетенции </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <!-- Theme initialization -->
    <script>
        var themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
            {};
        var themeName = themeSettings.themeName || '';
        if (themeName) {
            document.write(`<link rel="stylesheet" id="theme-style" href="../static/css/app-'${themeName}'.css">`);
        } else {
            document.write(`<link rel="stylesheet" id="theme-style" href="../static/css/app.css">`);
        }
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div class="main-wrapper">
    <div class="app" id="app">
        {% include 'header.html' %}
        {% include 'sidebar.html' %}


        <article class="content dashboard-page">
            <section class="section">
                <div class="row sameheight-container">

                    <div class="col col-12 col-sm-12 col-md-6 col-xl-5 ">
                        <div class="card sameheight-item stats" data-exclude="xs">
                            <div class="card-block">

                                <style>
                                    .input-date {
                                        width: 100px;
                                        align-self: end;
                                        margin-left: 5px;
                                    }
                                </style>
                                <div class="title-block d-flex">
                                    <h4 class="title mr-auto p-2"> Статистика по специализациям </h4>
                                    <select name="year" onchange="loadtable()"
                                            class="form-control  input-date p-2" id="year">
                                        {% for year in [2016,2017,2018,2019,2020] %}
                                        <option value={{year}}>{{year}}</option>
                                        {% endfor %}

                                    </select>
                                    <select name="month" onchange="loadtable()"
                                            class="form-control  input-date p-2" id="month">
                                        {% for month in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] %}
                                        <option value={{month}}>{{month}}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Специализация</th>
                                        <th>Частота</th>

                                    </tr>
                                    </thead>
                                    <tbody id="table-stats">


                                    </tbody>


                                </table>
                                <script>
                                    function loadtable() {
                                        let table = document.getElementById('table-stats');
                                        let url = '/get_spec_stat/' + document.getElementById("year").value + '/' + document.getElementById("month").value
                                        fetch(url).then(response => response.json()).then(data => {
                                            table.innerHTML = "";
                                            data.forEach((element, index) => {
                                                let tr = document.createElement('tr')
                                                let th = document.createElement('th')
                                                th.scope = 'row';
                                                th.innerText = index + 1;
                                                tr.append(th);
                                                let tech = document.createElement('td');
                                                tech.innerText = element['spec'];
                                                let freq = document.createElement('td');
                                                freq.innerText = element.freq;
                                                tr.append(tech);
                                                tr.append(freq);
                                                if (index < 8) {
                                                    table.append(tr)
                                                }

                                            })
                                        })
                                    }

                                    loadtable()

                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="col col-12 col-sm-12 col-md-6 col-xl-7 history-col">
                        <div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
                            <div class="card-header card-header-sm bordered">
                                <div class="header-block">
                                    <h3 class="title">История + предсказание</h3>
                                </div>
                                <ul class="nav nav-tabs pull-right" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#visits" role="tab"
                                           data-toggle="tab">Сумма вакансий</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#downloads" role="tab" data-toggle="tab">Профессии</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-block">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active fade show" id="visits">
                                        <div>
                                            {% include 'all_vacancies.html' %}

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="downloads">
                                        <div>
                                            {% include 'all_specializations.html' %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="row sameheight-container">
                    <div class="col">
                        <div class="card sameheight-item stats" data-exclude="xs">
                            <div class="card-block">
                                <div class="title-block">
                                    <h4 class="title"> О проекте </h4>
                                </div>
                                <div class="row row-sm stats-container">
                                    <div class="col-6 col-sm-3 stat-col">
                                        <div class="stat-icon">
                                            <i class="fa fa-stack-overflow"></i>
                                        </div>
                                        <div class="stat">
                                            <div class="value"> 10 000 000</div>
                                            <div class="name"> Вопросов StackOverflow</div>
                                        </div>
                                        <div class="progress stat-progress">
                                            <div class="progress-bar" style="width: 100%;"></div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-sm-3  stat-col">
                                        <div class="stat-icon">
                                            <i class="fa fa-line-chart"></i>
                                        </div>
                                        <div class="stat">
                                            <div class="value"> $112.550</div>
                                            <div class="name"> Ежемесячная выгода</div>
                                        </div>
                                        <div class="progress stat-progress">
                                            <div class="progress-bar" style="width: 100%;"></div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-sm-3  stat-col">
                                        <div class="stat-icon">
                                            <i class="fa fa-list-alt"></i>
                                        </div>
                                        <div class="stat">
                                            <div class="value"> 80 000</div>
                                            <div class="name"> IT-вакансий superjob</div>
                                        </div>
                                        <div class="progress stat-progress">
                                            <div class="progress-bar" style="width: 100%;"></div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-sm-3 stat-col">
                                        <div class="stat-icon">
                                            <i class="fa fa-users"></i>
                                        </div>
                                        <div class="stat">
                                            <div class="value"> 5</div>
                                            <div class="name"> Участников</div>
                                        </div>
                                        <div class="progress stat-progress">
                                            <div class="progress-bar" style="width: 100%;"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </article>
        {% include 'footer.html' %}
        {% include 'first-modal.html' %}
        {% include 'second-modal.html' %}
    </div>
</div>
{% include 'scripts.html' %}
</body>
</html>