<nav class="menu">
                    <ul class="sidebar-menu metismenu" id="sidebar-menu">
                        <li class="active">
                            <a href="index.html">
                                <i class="fa fa-home"></i> Dashboard </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-th-large"></i> Профессии <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="Frontend.html">Frontend</a>
                                </li>
                                <li>
                                    <a href="Frontend.html">Backend</a>
                                </li>
                                <li>
                                    <a href="Frontend.html">Администрирование</a>
                                </li>
                                <li>
                                    <a href="Frontend.html">Мобильная разработка</a>
                                </li>
                                <li>
                                    <a href="Frontend.html">Data Science</a>
                                </li>
                                <li>
                                    <a href="Frontend.html">DevOps</a>
                                </li>
                                <li>
                                    <a href="Frontend.html">Game development</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>