<nav class="menu">
                    <ul class="sidebar-menu metismenu" id="sidebar-menu">
                        <li class="active">
                            <a href="/">
                                <i class="fa fa-home"></i> Dashboard </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-th-large"></i> Профессии <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="/profession/frontend">Frontend</a>
                                </li>
                                <li>
                                    <a href="/profession/backend">Backend</a>
                                </li>
                                <li>
                                    <a href="/profession/admin">Администрирование</a>
                                </li>
                                <li>
                                    <a href="/profession/mobile">Мобильная разработка</a>
                                </li>
                                <li>
                                    <a href="/profession/ds">Data Science</a>
                                </li>
                                <li>
                                    <a href="/profession/devops">DevOps</a>
                                </li>
                                <li>
                                    <a href="/profession/gamedev">Game development</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>